$delay: .5s;
$glitch-color-1: #E8051F;
$glitch-color-2: #00FFFF;
$glitch-color-3: #111111;
$glitch-font: monospace;

.glitch {
    display: flex;
    flex-direction: column;
    font-size: 4em;
    line-height: 4em;
    font-family: $glitch-font;
    
    .glitch-top {
        height: 2em;
        overflow: hidden;
        position: relative;
        animation: glitch-top $delay alternate infinite;

        .glitch-top-text-1 {
            color: $glitch-color-1;
            position: relative;
            animation: glitch-top-text-1 $delay alternate infinite;
        }
        .glitch-top-text-2 {
            color: $glitch-color-2;
            position: relative;
            animation: glitch-top-text-2 $delay alternate infinite;
        }
        .glitch-top-text-3 {
            color: $glitch-color-3;
            position: relative;
            top: -400%;
            left: 0;
        }
    }
    
    .glitch-bottom {
        color: $glitch-color-3;
        width: fit-content;
        height: 2em;
        overflow: hidden;
        position: relative;
        animation: glitch-bottom $delay alternate infinite;

        .glitch-bottom-text-1 {
            color: $glitch-color-1;
            position: relative;
            animation: glitch-bottom-text-1 $delay alternate infinite;
        }
        .glitch-bottom-text-2 {
            color: $glitch-color-2;
            position: relative;
            animation: glitch-bottom-text-2 $delay alternate infinite;
        }
        .glitch-bottom-text-3 {
            color: $glitch-color-3;
            position: relative;
            top: -500%;
            left: 0;
        }
    }
}

@keyframes glitch-top {
    0% { top: 0; left: 0; }
    89% { top: 0; left: 0; }
    90% { top: 0; left: 4px; }
    100% { top: 0; left: 4px; }
}
@keyframes glitch-bottom {
    0% { top: 0; left: 0; }
    89% { top: 0; left: 0; }
    90% { top: 0; left: -4px; }
    100% { top: 0; left: -4px; }
}

@keyframes glitch-top-text-1 {
    0% { top: 0; left: 0; }
    89% { top: 0; left: 0; }
    90% { top: -3px; left: -4px; }
    100% { top: -3px; left: -4px; }
}
@keyframes glitch-top-text-2 {
    0% { top: -200%; left: 0; }
    89% { top: -200%; left: 0; }
    90% { top: calc(-200% + 3px); left: 4px; }
    100% { top: calc(-200% + 3px); left: 4px; }
}

@keyframes glitch-bottom-text-1 {
    0% { top: -100%; left: 0; }
    89% { top: -100%; left: 0; }
    90% { top: calc(-100% + 3px); left: +4px; }
    100% { top: calc(-100% + 3px); left: +4px; }
}
@keyframes glitch-bottom-text-2 {
    0% { top: -300%; left: 0; }
    89% { top: -300%; left: 0; }
    90% { top: calc(-300% + 3px); left: -4px; }
    100% { top: calc(-300% + 3px); left: -4px; }
}
